.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  padding: 5px 0;
  line-height: 1rem;
  width: 30px;
  height: 30px;
  transition: 0.3s ease;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid transparent;

  // margin-top: 5px;

  span a {
    padding: 1px;
  }
  span i,
  span svg {
    font-size: 1.5rem;
    fill: $dark-color;
  }

  &:hover {
    background: rgba($dark-color, 0.1);
    // border: 1px solid #ddd;

    span i {
      color: $dark-gray;
    }
  }
  .arrow {
    border-left: 1px solid $dark-gray;
    svg {
      transition: 0.2s ease;
    }
  }
  &:hover .arrow svg {
    transform: rotate(180deg);
  }
}

.dropdown-content {
  display: none;
  text-align: center;
  position: absolute;
  min-width: 120px;
  background: $light-color;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  z-index: 1;
  right: 0;
  bottom: -5.7rem;
  margin-top: 5px;
  border-radius: 1rem;

  a,
  button {
    font-weight: bold;
    padding: 0.6rem 1.5rem;
    display: flex;
    color: $dark-color;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 1rem;
    transition: 0.1s ease;
    svg {
      transition: 0.1s ease;
    }

    &:hover {
      background: $light-gray-x;
      color: $dark-color;
      svg {
        fill: $dark-color !important;
      }
    }
  }
  svg {
    margin-right: 1rem;
    font-size: 1.7rem;
    fill: $dark-gray !important;
  }
}

.dropdown-content-secondary {
  display: none;
  text-align: center;
  position: absolute;
  min-width: 120px;
  background: $light-color;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  z-index: 1;
  right: 0;
  top: 1.9rem;
  margin-top: 5px;
  border-radius: 1rem;
  white-space: nowrap;

  table {
    display: flex;
    align-items: center;

    tr {
      border: none !important;
      &:hover {
        background: none;
      }
    }
    th {
      border-right: 1px solid #e0e0e0 !important;
      border-bottom: 1px solid #e0e0e0 !important;
      display: block;

      &:first-child {
        width: unset !important;
      }
      &:last-child {
        border: none;
        width: unset !important;
        text-align: unset !important;
      }
    }
    td {
      border-bottom: 1px solid #e0e0e0 !important;
      text-align: center;
      display: block;
      width: 7rem;

      &:first-child {
        width: unset !important;
      }
      &:last-child {
        border: none !important;
        width: unset !important;
      }
    }
  }
}

.dropdown:hover .dropdown-content,
.dropdown:active .dropdown-content,
.dropdown:hover .dropdown-content-secondary,
.dropdown:active .dropdown-content-secondary {
  display: block;
}
