.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-center {
  background: $light-color;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  pointer-events: none;
  width: 400px;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 999999;
  border-radius: 2rem;
}
.title-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: $light-color;
  color: $primary-color;
  align-items: center;
  border-radius: 2rem;
}
.bg--white {
  pointer-events: all;
  overflow: auto;
  padding: 0 30px 30px;
  border-bottom: 1px solid $light-gray;
  border-radius: 2rem;
  background: $light-color;
  h3 {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 640px) {
    padding: 0 20px 20px;
  }
}
