.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-center {
  background: $light-color;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  pointer-events: none;
  width: 400px;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 999999;
  border-radius: 2rem;
}
.title-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: $light-color;
  color: $primary-color;
  align-items: center;
  border-radius: 2rem;
}
.bg--white {
  pointer-events: all;
  overflow: auto;
  padding: 0 30px 30px;
  border-bottom: 1px solid $light-gray;
  border-radius: 2rem;
  background: $light-color;
  h3 {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 640px) {
    padding: 0 20px 20px;
  }
}
.modal-form {
  position: relative;
  padding: 4rem 0;
  width: 100%;
}
.modal-input {
  position: relative;

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  select {
    border: 1px solid $dark-color;
    background: #fff;
    height: 38px;
    padding: 6px 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #54667a;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
    width: 100%;
    border-radius: 0.5rem;
  }
  textarea {
    border: 1px solid $dark-color;
    background: #fff;
    height: 10rem;
    padding: 6px 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #54667a;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
    width: 100%;
  }
  label {
    position: absolute;
    top: 12px;
    left: 15px;
    pointer-events: none;
    background: $light-color;
    font-size: 1.3rem;
    transition: 0.5s;
  }
  input[type="password"]:focus,
  input[type="text"]:focus,
  input[type="date"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  select:focus,
  textarea:focus {
    border: 1px solid $primary-color;
    -webkit-box-shadow: inset 0 1px 5px #d6d6d6 !important;
    -moz-box-shadow: inset 0 1px 5px #d6d6d6 !important;
    box-shadow: inset 0 1px 5px #d6d6d6 !important;
  }

  input[type="text"]:disabled ~ label,
  input[type="text"]:focus ~ label,
  input[type="text"]:valid ~ label,
  input[type="password"]:disabled ~ label,
  input[type="password"]:focus ~ label,
  input[type="password"]:valid ~ label,
  input[type="email"]:disabled ~ label,
  input[type="email"]:focus ~ label,
  input[type="email"]:valid ~ label,
  input[type="date"]:disabled ~ label,
  input[type="date"]:focus ~ label,
  input[type="date"]:valid ~ label,
  input[type="number"]:disabled ~ label,
  input[type="number"]:focus ~ label,
  input[type="number"]:valid ~ label,
  select:disabled ~ label,
  select:focus ~ label,
  select:valid ~ label,
  textarea:disabled ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    top: -9px !important;
    left: 3px !important;
    font-size: 1.11rem;
    color: $primary-color !important;
    font-weight: bold;
    padding: 0 8px;
  }
  span.error-show {
    display: block;
    left: 0;
    right: 0;
    text-align: right;
    bottom: -20px;
    font-weight: bold;
  }
  input.error-show,
  textarea.error-show,
  select.error-show {
    border: 1px solid $primary-color !important;
  }
  label.error-show {
    color: $primary-color !important;
  }
}
