.navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: $secondary-color;
  width: 10rem;
  min-height: 100%;
  border-radius: 0 2rem 0 0;
  transition: 0.2s ease;
  z-index: 1;

  @media screen and (max-width: 768px) {
    &::after {
      position: absolute !important;
      top: 0;
      right: 0;
      bottom: 0;
      left: 10rem;
      background: rgba(0, 0, 0, 0.2);
      width: 100vw;
      z-index: 9;
      // pointer-events: none;
    }
  }

  &__logo {
    padding: 2rem;
    img,
    svg {
      height: 7rem;
      object-fit: contain;
      width: fit-content;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    li {
      color: $light-color;
      width: 5rem;
      height: 5rem;
      margin: 2rem;
      list-style: none;
      transition: 0.2s ease;
      display: flex;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $light-color;
        width: 100%;
        height: 100%;
        transition: 0.2s ease;
        svg {
          font-size: 2rem;
          fill: $accent;
        }
        &:hover svg {
          fill: $primary-color;
        }
      }
      &:hover {
        color: $dark-color;
        width: 5rem;
        height: 5rem;
        margin: 2rem;
        list-style: none;
        background: $accent;
        border-radius: 100%;
        fill: $dark-color;
      }
    }
  }

  @media screen and (max-width: 768px) {
    left: -20rem;
  }
}
