.navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: $secondary-color;
  width: 10rem;
  height: 100%;
  border-radius: 0 2rem 0 0;
  transition: 0.3s ease;
  z-index: 1;
  &__logo {
    display: flex;
    justify-content: center;
    padding: 2rem;
    img {
      width: 5.5rem;
      height: 100%;
      object-fit: contain;
    }
  }
  // &__logo {
  //   height: 6rem;
  //   padding: 1rem;
  //   margin: 1.5rem 0;
  //   position: relative;

  //   img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: contain;
  //   }
  //   span {
  //     position: absolute;
  //     right: 2.5rem;
  //     bottom: -0.5rem;
  //     height: 5rem;
  //     width: 5rem;
  //     background: $dark-color;
  //     border-radius: 5rem;
  //     z-index: -1;
  //     border: 1px solid $secondary-color;
  //   }
  // }

  ul {
    li {
      color: $light-color;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        color: $light-color;
        width: 100%;
        height: 100%;
        svg {
          font-size: 2rem;
        }
      }
      &:hover {
        background: linear-gradient(
          90deg,
          rgba($secondary-color, 1),
          rgba($primary-color, 0.85)
        );
      }
    }
  }
  .logout__container {
    position: absolute !important;
    bottom: 0;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 2rem;
      color: $light-color;
    }
  }
}
