.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: rgba($light-color, 0.5);
}

.spin-load {
  width: 44px;
  height: 44px;
  animation: spin-loading 2s infinite ease;
  transform-style: preserve-3d;
}

.spin-load > div {
  background-color: rgba($secondary-color, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid $primary-color;
}

.spin-load div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
}

.spin-load div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spin-load div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spin-load div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spin-load div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spin-load div:nth-of-type(6) {
  transform: translateZ(22px);
}

@keyframes spin-loading {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

.scanner span {
  color: transparent;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
}

.scanner span::before {
  content: "Loading...";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid $secondary-color;
  overflow: hidden;
  color: $secondary-color;
  animation: scan 2s linear infinite;
}

@keyframes scan {
  0%,
  10%,
  100% {
    width: 0;
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    border-right-color: transparent;
  }

  11%,
  21%,
  31%,
  41%,
  51%,
  61%,
  71%,
  81%,
  91% {
    border-right: 4px solid $secondary-color;
  }

  60%,
  80% {
    width: 100%;
  }
}
