.main-content {
  .content {
    margin-left: 13rem;
    padding-right: 2rem;
    transition: 0.3s ease;
    padding-bottom: 2rem;
    // height: 100%;
    .graph__container {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5rem;
      padding: 2rem;
    }
    .graph__item {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      height: fit-content;
      padding: 1rem;
      width: 50rem;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        @media screen and (max-width: 420px) {
          padding: 1rem 0 !important;
        }
      }
    }
    &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .form__container {
      width: 70rem !important;
      margin: 0 auto;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
      padding: 4rem;
      border-radius: 1rem;
      position: relative;

      .logo__container {
        position: relative;
        .avatar,
        img {
          max-height: 9rem !important;
          max-width: 9rem !important;
          min-height: 9rem !important;
          min-width: 9rem !important;
          object-fit: contain;
          object-position: center center;
          overflow: hidden;
          border: 1px solid $light-gray;
          border-radius: 100%;
          cursor: default !important;
          fill: $light-gray;
        }
      }
      .upload-button {
        svg {
          fill: $dark-color;
        }
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        left: 50%;
        background: rgba($dark-color, 0.2);
        border-radius: 100%;
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.5rem;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
          opacity: 0;
          cursor: pointer;
          font-size: 0;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          width: 100%;
        }
      }
    }

    .search__container {
      @media screen and (max-width: 420px) {
        padding-top: 1rem !important;
      }
    }

    @media screen and (max-width: 768px) {
      margin-left: 0;
      padding-left: 2rem;
    }

    @media screen and (max-width: 420px) {
      padding: 1rem !important;
    }
  }
}
.main-content.show {
  .header,
  .content {
    margin: 0 2rem;
    @media screen and (max-width: 768px) {
      margin: 0;
      margin-left: 10rem;
    }
  }
  .navigation {
    left: -20rem;
    @media screen and (max-width: 768px) {
      left: 0;
    }
    &::after {
      content: "";
    }
  }
}
.title-box-light {
  background: $light-gray;
  font-weight: 700;
  margin: 0 4rem;
  padding: 1rem;
  z-index: 1;

  svg {
    font-size: 2rem;
    vertical-align: middle;
  }

  strong {
    margin: 0 5px;
    vertical-align: middle;
  }
}

.title-box {
  background: $light-gray;
  font-weight: 700;
  padding: 1rem;
  z-index: 1;
}
.tab-menu {
  display: flex;
  flex-wrap: wrap;
  .menu-label {
    display: block;
    padding: 0.8rem 0;
    margin-right: 1rem;
    cursor: pointer;
    background: $light-color;
    color: $dark-color;
    font-weight: bold;
    z-index: 1;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 0.1rem solid $light-gray;
    transition: 0.2s ease;
    a,
    span {
      padding: 1.1rem 2.3rem;
      text-transform: uppercase;
      height: 100%;
      width: 100%;
    }
  }
  .menu-label:hover {
    background: $primary-color;
    color: $light-color;
  }
  .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background: $primary-color;
    color: $light-color;
  }

  input[type="radio"]:checked + label + .tab {
    display: block;
  }
}

// .tab-submenu {
//   display: flex;
//   flex-wrap: wrap;
//   padding: 3rem;
//   .menu-label {
//     display: block;
//     padding: 0.8rem 0;
//     margin-bottom: 0;
//     margin-right: 0;
//     cursor: pointer;
//     background: $light-color;
//     color: $dark-color;
//     font-weight: bold;
//     font-size: 1.2rem;
//     z-index: 1;
//     border: 0.2rem solid $primary-color;
//     border-radius: 0.5rem 0.5rem 0 0;

//     a,
//     span {
//       padding: 1.1rem 2.3rem;
//       text-transform: uppercase;
//       height: 100%;
//       width: 100%;
//     }
//   }
//   .menu-label:hover {
//     background: $primary-color;
//     color: $light-color;
//   }
//   .tab {
//     order: 99;
//     flex-grow: 1;
//     width: 100%;
//     background: $light-color;
//   }

//   input[type="radio"] {
//     display: none;
//   }

//   input[type="radio"]:checked + label {
//     color: $primary-color !important;
//     border: none;
//     box-shadow: unset;
//   }

//   input[type="radio"]:checked + label svg {
//     margin-left: 1.5rem;
//     transform: rotate(90deg);
//     transition: 0.5s;
//   }

//   input[type="radio"]:checked + label + .tab {
//     display: block;
//   }
// }
.setting {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.2s ease;
  svg {
    font-size: 10rem;
    fill: $primary-color;
  }

  &:hover {
    background: $accent;
  }
}

.list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  span {
    position: relative !important;
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: -0.5rem;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $light-gray;
      pointer-events: none;
    }
    svg {
      fill: $primary-color;
      font-size: 8rem;
      background: $light-color;
      padding: 1rem;
      border-radius: 50%;
      border: 1rem solid $light-gray;
    }
  }

  a {
    min-width: 35rem;
    min-height: 20rem;
  }
  h4 {
    i {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  ul {
    li {
      word-break: break-all;
    }
  }
}
