button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  border: 0;
  cursor: pointer;
  display: inline-block;
}
input[disabled],
select:disabled,
textarea:disabled,
button:disabled,
.disabled {
  cursor: not-allowed;
  background: #d9d9d9 !important;
  border: transparent !important;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="file"]:focus,
input[type="hidden"]:focus {
  border: none;
  outline: 0;
}
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}
button,
input,
textarea {
  font-family: inherit;
  line-height: normal;
}
textarea {
  font-size: 100%;
  overflow: auto;
  vertical-align: top;
  height: 10rem;
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="phone"],
input[type="date"],
input[type="time"],
input[type="password"],
select,
textarea {
  background: $light-color;
  height: 38px;
  padding: 6px 15px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: $dark-color;
  background-clip: padding-box;
  box-shadow: none;
  width: 100%;
}
.login__form {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  transform: translateY(clamp(5rem, 10vw, 22rem));
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
  max-width: 40rem;
  img {
    width: 10rem;
  }
}
.form {
  position: relative;
  padding: 4rem 0;
  width: 100%;
}
.input {
  position: relative;

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  input[type="search"],
  select {
    border: 1px solid $dark-gray;
    background: #fff;
    height: 38px;
    padding: 0.6rem 1rem 0.6rem 5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #54667a;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
    width: 100%;
    border-radius: 2rem;
  }
  textarea {
    border: 1px solid $dark-color;
    background: #fff;
    height: 10rem;
    padding: 6px 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #54667a;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
    width: 100%;
  }
  label {
    position: absolute;
    top: -2rem;
    left: 0;
    pointer-events: none;
    background: $light-color;
    font-size: 1.3rem;
    transition: 0.5s;
  }
  input[type="password"]:focus,
  input[type="text"]:focus,
  input[type="date"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  select:focus,
  textarea:focus {
    border: 1px solid $primary-color;
    -webkit-box-shadow: inset 0 1px 5px #d6d6d6 !important;
    -moz-box-shadow: inset 0 1px 5px #d6d6d6 !important;
    box-shadow: inset 0 1px 5px #d6d6d6 !important;
  }

  input[type="text"]:disabled ~ label,
  input[type="text"]:focus ~ label,
  input[type="text"]:valid ~ label,
  input[type="password"]:disabled ~ label,
  input[type="password"]:focus ~ label,
  input[type="password"]:valid ~ label,
  input[type="email"]:disabled ~ label,
  input[type="email"]:focus ~ label,
  input[type="email"]:valid ~ label,
  input[type="date"]:disabled ~ label,
  input[type="date"]:focus ~ label,
  input[type="date"]:valid ~ label,
  input[type="number"]:disabled ~ label,
  input[type="number"]:focus ~ label,
  input[type="number"]:valid ~ label,
  select:disabled ~ label,
  select:focus ~ label,
  select:valid ~ label,
  textarea:disabled ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    top: -9px !important;
    left: 3px !important;
    font-size: 1.11rem;
    color: $primary-color !important;
    font-weight: bold;
    padding: 0 8px;
  }
  span.error-show {
    right: 10px;
    bottom: -20px;
    color: rgba(255, 0, 0, 0.8);
    position: absolute;
    font-size: 1rem;
    font-style: italic;
  }

  input.error-show,
  textarea.error-show,
  select.error-show {
    border: 1px solid red !important;
    background: hsl(0, 100%, 97%);
  }

  label.error-show {
    color: $primary-color !important;
  }
  .icon--show {
    position: absolute;
    right: 1rem;
    transform: translateY(50%);
    bottom: 50%;
    font-size: 2rem;
    color: $dark-gray;
    top: 0;
    cursor: pointer;
  }
  .icon--search {
    position: absolute;
    right: 3.5rem;
    transform: translateY(50%);
    bottom: 50%;
    svg {
      position: absolute;
      font-size: 2.5rem;
      transform: translateY(50%);
      bottom: 50%;
      border-left: 0.1rem solid $dark-gray;
      padding-left: 1rem;
      fill: $dark-gray;
    }
  }
  .icon--input {
    position: absolute;
    left: 1.5rem;
    transform: translateY(50%);
    bottom: 50%;
    svg {
      position: absolute;
      font-size: 2.5rem;
      transform: translateY(50%);
      bottom: 50%;
      border-right: 0.1rem solid $dark-gray;
      padding-right: 1rem;
    }
  }
  .search--bar {
    padding-left: 2rem !important;
    padding-right: 5rem !important;
    border-radius: 0 2rem 2rem 0 !important;
    border: 0.1rem solid $light-gray !important;
  }
}
// INPUT FORM

.input--form {
  position: relative;

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  select {
    // border: none;
    border: 1px solid $light-gray;
    background: #fff;
    height: 38px;
    padding: 0.6rem 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #54667a;
    background-clip: padding-box;
    box-shadow: none;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
  }
  textarea {
    border: none;
    border-bottom: 1px solid $light-gray;
    background: #fff;
    height: 10rem;
    padding: 6px 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #54667a;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
    width: 100%;
  }
  label {
    // position: absolute;
    margin-bottom: 1rem;
    pointer-events: none;
    // background: $light-color;
    font-size: 1.3rem;
    transition: 0.5s;
    font-weight: bold;
  }
  h3 {
    border-bottom: 1px solid $dark-color;
  }
  input[type="password"]:focus,
  input[type="text"]:focus,
  input[type="date"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  select:focus,
  textarea:focus {
    border: 0;
    border-bottom: 1px solid $light-gray;
    box-shadow: inset 0 1px 5px #d6d6d6 !important;
  }

  span.error-show {
    display: block;
    left: 0;
    right: 0;
    text-align: right;
    bottom: -20px;
    font-weight: bold;
  }

  input.error-show,
  textarea.error-show,
  select.error-show {
    border: 1px solid red !important;
  }

  label.error-show {
    color: $primary-color !important;
  }
  .icon--show {
    position: absolute;
    right: 1rem;
    transform: translateY(50%);
    bottom: 50%;
    font-size: 2rem;
    color: $dark-gray;
    top: 0;
    cursor: pointer;
  }
  .icon--search {
    position: absolute;
    right: 1.5rem;
    transform: translateY(50%);
    bottom: 50%;
    font-size: 1.5rem;
    color: $dark-gray;
    border-left: 0.1rem solid $dark-gray;
    top: 0;

    svg {
      font-size: 1.7rem;
    }
  }
  .icon--clear {
    position: absolute;
    right: 5.5rem;
    transform: translateY(50%);
    bottom: 50%;
    font-size: 1.5rem;
    color: $dark-gray;
    top: 0;
    font-weight: 100;

    svg {
      font-size: 1.7rem;
    }
  }
  .icon--input {
    position: absolute;
    left: 1.5rem;
    transform: translateY(50%);
    bottom: 50%;
    font-size: 2.5rem;
    color: $dark-gray;
    border-right: 0.1rem solid $dark-gray;
    svg {
      padding-right: 1rem;
    }
  }
  .search--bar {
    padding-left: 2rem !important;
    border-radius: 0 2rem 2rem 0 !important;
    border: 0.1rem solid $light-gray !important;
  }
}

.profile--upload {
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  padding: 0;
  margin: 0 auto 20px;
  position: relative;
  img,
  svg {
    width: 100%;
    height: 100%;
    color: $light-gray;
    object-fit: cover;
    object-position: center center;
  }

  .upload--button {
    position: absolute;
    bottom: 0;
    right: -3px;
    color: $light-color;
    background: $secondary-color !important;
    padding: 7px !important;
    border-radius: 50% !important;
    border: 4px solid lighten($light-color, 40%) !important;
    line-height: 12px;
    font-size: 14px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    input {
      opacity: 0;
      cursor: pointer;
      font-size: 0;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
    }
  }
}
