.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 2rem 0 0;
  background-color: $light-color;
  border-bottom: 3px solid $primary-color;
  margin-left: 13rem;
  transition: 0.3s ease;
  &__credential {
    display: flex;
    align-items: center;
    gap: 2rem;

    svg {
      color: $light-gray;
      font-size: 3.5rem;
    }
  }
  &__collapse {
    svg {
      color: $dark-gray;
      height: 3rem;
      width: 3rem;
      padding: 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        background-color: $light-gray;
      }
    }
  }
}
