.table__container {
  position: relative;
  margin-bottom: 2rem;
  table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    width: 100%;
    text-align: left;
    th:first-child,
    td:first-child {
      width: 3%;
    }
    th:last-child,
    td:last-child {
      width: 13rem;
    }
  }
  table tr:hover {
    background: $light-gray-x;
  }
  td {
    padding: 1rem;
  }
  tr {
    border-bottom: 1px solid #e0e0e0;
  }
  th {
    font-weight: bold;
    background: $light-gray-x;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
  }
  .nodata {
    &:hover {
      background: unset !important;
    }
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__item {
      img {
        width: 30rem;
      }
    }
  }
}
