.tab--active {
  &:hover {
    background: none !important;
  }

  svg {
    color: $dark-color !important;
    background: $accent;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    border-radius: 5rem;
  }
}
.color--primary {
  color: $primary-color !important;
}
.color--secondary {
  color: $secondary-color !important;
}
.color--lightcolor {
  color: $light-color !important;
}
.color--darkcolor {
  color: $dark-color !important;
}
.color--lightgray {
  color: $light-gray !important ;
}
.color--accent {
  color: $accent;
}
.bg--primary {
  background-color: $primary-color !important;
}
.bg--secondary {
  background-color: $secondary-color !important;
}
.bg--lightcolor {
  background-color: $light-color !important;
}
.bg--darkcolor {
  background-color: $dark-color !important;
}
.bg--lightgray {
  background-color: $light-gray !important ;
}
.shadow--primary {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.float--left {
  float: left !important;
}
.float--right {
  float: right !important;
}
.t--center {
  text-align: center !important;
}
.t--left {
  text-align: left !important;
}
.t--right {
  text-align: right !important;
}
.t--justify {
  text-align: justify !important;
}
.t--bold {
  font-weight: bold !important;
}
.t--exbold {
  font-weight: bold !important;
  text-shadow: 0 0 #000;
}
.t--italic {
  font-style: italic !important;
}
.t--unset {
  font-style: unset !important;
}
.t--underline {
  text-decoration: underline;
}
.d--flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.d--grid {
  display: grid;
}
.d--block {
  display: block;
}
.d--none {
  display: none;
}
.p--relative {
  position: relative;
}
.p--absolute {
  position: absolute;
}
.p--fixed {
  position: fixed;
}
.p--left {
  left: 0;
}
.p--right {
  right: 0;
}
.p--top {
  top: 0;
}
.p--bottom {
  bottom: 0;
}
.modal--front {
  z-index: 999999999;
}
.full--width {
  width: 100%;
}
.half--width {
  width: 50%;
}
.mxy--auto {
  margin: 0 auto;
}
.word--break {
  word-break: break-all;
}
.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--primary {
  color: $light-color;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  margin: 0 1px;
  min-width: 90px;
  transition: 0.5s;
  font-size: 1.2rem;
  line-height: normal;
  font-weight: bold;
  border-radius: 5rem;
  border: 1px solid $light-gray;
  background: $primary-color;

  &:hover {
    background-color: transparent;
    border: 1px solid $light-gray;
    color: $primary-color !important;
  }

  span {
    vertical-align: middle;
    @media screen and (max-width: 324px) {
      display: none;
    }
  }

  svg {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 1.5rem;
    @media screen and (max-width: 768px) {
      margin: unset;
    }
  }
}

.btn--default {
  color: $light-color;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin: 0 1px;
  width: 100%;
  transition: 0.5s;
  font-size: 1.2rem;
  line-height: normal;
  font-weight: bold;
  border-radius: 5rem;
  border: 1px solid $light-gray;
  background: $primary-color;

  span {
    vertical-align: middle;
    @media screen and (max-width: 324px) {
      display: none;
    }
  }

  svg {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 1.5rem;
    @media screen and (max-width: 768px) {
      margin: unset;
    }
  }
}
.btn--outline {
  color: $primary-color;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin: 0 1px;
  width: 100%;
  transition: 0.5s;
  font-size: 1.2rem;
  line-height: normal;
  font-weight: bold;
  border-radius: 5rem;
  border: 1px solid $light-gray;
  background: transparent;

  span {
    vertical-align: middle;
    @media screen and (max-width: 324px) {
      display: none;
    }
  }

  svg {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 1.5rem;
    @media screen and (max-width: 768px) {
      margin: unset;
    }
  }
}

.btn--gradient {
  color: $light-color;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin: 0 1px;
  min-width: 15rem;
  transition: 0.5s ease;
  font-size: 1.2rem;
  line-height: normal;
  font-weight: bold;
  border-radius: 5rem;
  border: 1px solid $light-gray;
  background: linear-gradient(
    270deg,
    rgba($primary-color, 1),
    rgba($secondary-color, 0.85) 90%
  );

  &:hover {
    background: linear-gradient(
      90deg,
      rgba($primary-color, 1),
      rgba($secondary-color, 0.85) 90%
    );
  }
}

.loadmore__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

$sizes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

@each $size in $sizes {
  .mb--#{$size} {
    margin-bottom: #{$size}rem;
  }
}
@each $size in $sizes {
  .mt--#{$size} {
    margin-top: #{$size}rem;
  }
}
@each $size in $sizes {
  .mr--#{$size} {
    margin-right: #{$size}rem;
  }
}
@each $size in $sizes {
  .ml--#{$size} {
    margin-left: #{$size}rem;
  }
}
@each $size in $sizes {
  .pt--#{$size} {
    padding-top: #{$size}rem;
  }
}
@each $size in $sizes {
  .pr--#{$size} {
    padding-right: #{$size}rem;
  }
}
@each $size in $sizes {
  .pb--#{$size} {
    padding-bottom: #{$size}rem;
  }
}
@each $size in $sizes {
  .pl--#{$size} {
    padding-left: #{$size}rem;
  }
}
@each $size in $sizes {
  .px--#{$size} {
    padding: 0 #{$size}rem;
  }
}
@each $size in $sizes {
  .py--#{$size} {
    padding: #{$size}rem 0;
  }
}
@each $size in $sizes {
  .pxy--#{$size} {
    padding: #{$size}rem;
  }
}
@each $size in $sizes {
  .mx--#{$size} {
    margin: 0 #{$size}rem;
  }
}
@each $size in $sizes {
  .my--#{$size} {
    margin: #{$size}rem 0;
  }
}
@each $size in $sizes {
  .mxy--#{$size} {
    margin: #{$size}rem;
  }

  @each $size in $sizes {
    .gap--#{$size} {
      gap: #{$size}rem;
    }
  }
}

.cssbuttons-io-button {
  background: $primary-color;
  color: white;
  padding: 0.5rem;
  padding-left: 1.2rem;
  font-weight: 500;
  border-radius: 2rem;
  border: none;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
  // box-shadow: inset 0 0 1.6em -0.6em $accent;
  overflow: hidden;
  position: relative;
  height: 3.2rem;
  padding-right: 3.5rem;
  margin: 0 auto;
}

.cssbuttons-io-button .icon {
  background: $light-color;
  margin-left: 1.5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 2rem;
  // box-shadow: 0.1em 0.1em 0.6em 0.2em $secondary-color;
  right: 0.3rem;
  transition: all 0.3s;
  bottom: 50%;
  transform: translateY(50%);
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6rem);
}

.cssbuttons-io-button .icon svg {
  width: 1.8rem;
  transition: transform 0.3s;
  color: $primary-color;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1rem);
  transform: rotate(90deg);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
